In [11]:
import pandas as pd
import os
import constants
from copy import copy

#list all the files in the current folder with the extension .pkl
files = [f for f in os.listdir('.') if f.endswith('.pkl')]
tables = []

# load pickle file to dataframe
dfs = {}
for file  in files:
    table = file.split(".")[0]
    tables.append(table)
    
    dfs[table] = pd.read_pickle(file)

In [36]:
VBAK = dfs["VBAK"]
VBAK.set_index("VBELN", inplace=True)

KeyError: "None of ['VBELN'] are in the columns"

In [37]:
VBAK

               ERDAT   ERZET
VBELN
0000000001  20160527  134542
0000000002  20160527  134538
0000000003  20160527  134732
0000000005  20211201  110040
0010000000  20221120  131825
0020000000  20221121  234929

In [5]:
VBFA = dfs["VBFA"]
VBFA

,ERDAT,ERZET,VBELN,VBELV,VBTYP_N,VBTYP_V,RFMNG,MEINS,RFWRT,WAERS,MATNR,BWART,VRKME,FKTYP,POSNN,POSNV
0,20160527,134823,0080000000,0000000001,J,C,2.000,EA,0.00,,,601,EA,,000010,000010
1,20160527,134805,0080000001,0000000002,J,C,5.000,EA,0.00,,,601,EA,,000010,000010
2,20160527,134921,0080000002,0000000003,J,C,8.000,EA,0.00,,,601,EA,,000010,000010
3,20160527,135042,0090000002,0080000000,M,J,2.000,EA,6000.00,USD,,,EA,L,000010,000010
4,20160527,135040,0090000001,0080000001,M,J,5.000,EA,15000.00,USD,,,EA,L,000010,000010
5,20160527,135026,0090000000,0080000002,M,J,8.000,EA,24000.00,USD,,,EA,L,000010,000010
6,20160527,134855,20160527,0080000000,Q,J,2.000,EA,0.00,,,,EA,,134855,000010
7,20160527,134848,20160527,0080000001,Q,J,5.000,EA,0.00,,,,EA,,134848,000010
8,20160527,134929,20160527,0080000002,Q,J,8.000,EA,0.00,,,,EA,,134929,000010
9,20160527,134908,4900002053,0080000000,R,J,2.000,EA,2800.00,USD,DXTR1999,601,EA,,000001,000010
10,20160527,134914,4900002054,0080000001,R,J,5.000,EA,7000.00,USD,DXTR1998,601,EA,,000001,000010
11,20160527,134932,4900002055,0080000002,R,J,8.000,EA,11200.00,USD,DXTR1997,601,EA,,000001,000010
12,20221121,234929,0020000000,0010000000,B,A,0.000,,20092.50,USD,,,,,000000,000000
13,20221121,234929,0020000000,0010000000,B,A,5.000,EA,14012.50,USD,,,EA,,000010,000010
14,20221121,234929,0020000000,0010000000,B,A,2.000,EA,6080.00,USD,,,EA,,000020,000020

In [6]:
VBAK.join(VBFA.set_index("VBELN"), on="VBELN", how="left", lsuffix="_VBAK", rsuffix="_VBFA")

,VBELN,ERDAT_VBAK,ERZET_VBAK,ERDAT_VBFA,ERZET_VBFA,VBELV,VBTYP_N,VBTYP_V,RFMNG,MEINS,RFWRT,WAERS,MATNR,BWART,VRKME,FKTYP,POSNN,POSNV
0,0000000001,20160527,134542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000000002,20160527,134538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0000000003,20160527,134732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000000005,20211201,110040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0010000000,20221120,131825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0020000000,20221121,234929,20221121,234929,0010000000,B,A,0.000,,20092.50,USD,,,,,000000,000000
5,0020000000,20221121,234929,20221121,234929,0010000000,B,A,5.000,EA,14012.50,USD,,,EA,,000010,000010
5,0020000000,20221121,234929,20221121,234929,0010000000,B,A,2.000,EA,6080.00,USD,,,EA,,000020,000020

In [7]:
df = dfs["CDHDR"]
obj_clas = df["OBJECTCLAS"].unique()
print(obj_clas)

['INFOSATZ       ' 'EINKBELEG      ' 'IDENTITY       ' 'NRINTERVAL     '
 'ADRESSE3       ' 'MATERIAL       ' 'BANF           ' 'BUPA_BUP       '
 'PLAN           ' 'KRED           ' 'ADRESSE        ' 'BUPA_ADR       '
 'BUPA_FS01      ' 'COND_A         ' 'DEBI           ' 'ADRESSE2       '
 'BUPR_BUB       ' 'BUPR_BUR       ']

In [8]:
df = dfs["CDPOS"]
df.head(2)

,MANDANT,OBJECTCLAS,OBJECTID,CHANGENR,TABNAME,TABKEY,FNAME,CHNGIND
0,323,IDENTITY,MASTER-BTC ...,0000778835,SUSR_UST04,SAP_ALL ...,KEY,I
1,323,IDENTITY,MAJID ...,0000778836,SUSR_UST04,SAP_ALL ...,KEY,I

In [9]:
df = dfs["CDHDR"]
obj_clas = df["OBJECTCLAS"].unique()
print(obj_clas)
obj_clas = df["OBJECTID"].unique()
print(obj_clas)

['INFOSATZ       ' 'EINKBELEG      ' 'IDENTITY       ' 'NRINTERVAL     '
 'ADRESSE3       ' 'MATERIAL       ' 'BANF           ' 'BUPA_BUP       '
 'PLAN           ' 'KRED           ' 'ADRESSE        ' 'BUPA_ADR       '
 'BUPA_FS01      ' 'COND_A         ' 'DEBI           ' 'ADRESSE2       '
 'BUPR_BUB       ' 'BUPR_BUR       ']
['5300000020                                                                                '
 '5300000021                                                                                '
 '4500000006                                                                                '
 '5300000022                                                                                '
 '5300000023                                                                                '
 '4500000007                                                                                '
 'MASTER-BTC                                                                                '
 'SO_OBJ_USR                                                                                '
 'SO_OBJ_FOL                                                                                '
 'BC0100001476220000022870                                                                  '
 'MAJID                                                                                     '
 'BC0100001476240000022870                                                                  '
 'GYUNAM                                                                                    '
 'BC0100001476260000022870                                                                  '
 'ACDOCA_AUX                                                                                '
 'AARON                                                                                     '
 'BC0100001476420000022870                                                                  '
 'SO_OBJ_RAW                                                                                '
 '5300000010                                                                                '
 '4500000001                                                                                '
 '5300000011                                                                                '
 '4500000002                                                                                '
 'GYUNAM2                                                                                   '
 'BC0100001476440000022870                                                                  '
 '4500000003                                                                                '
 '5300000012                                                                                '
 '5300000013                                                                                '
 '4500000004                                                                                '
 '4500000005                                                                                '
 'LVS_IVNUM                                                                                 '
 '5300000024                                                                                '
 '5300000025                                                                                '
 '4500000008                                                                                '
 '4500000009                                                                                '
 '5300000026                                                                                '
 '4500000010                                                                                '
 '4500000011                                                                                '
 '4500000012                                                                                '
 '4500000013                                                                                '
 '4500000014                                                                                '
 '4500000015                                                                                '
 '4500000016                                                                                '
 '4500000017                                                                                '
 '4500000018                                                                                '
 '4500000019                                                                                '
 '4500000020                                                                                '
 '4500000021                                                                                '
 '4500000022                                                                                '
 '4500000023                                                                                '
 '4500000024                                                                                '
 '4500000025                                                                                '
 '4500000026                                                                                '
 '4500000027                                                                                '
 '4500000028                                                                                '
 '4500000029                                                                                '
 '4500000030                                                                                '
 '4500000031                                                                                '
 '4500000032                                                                                '
 '4500000033                                                                                '
 '4500000034                                                                                '
 '4500000035                                                                                '
 '4500000036                                                                                '
 '4500000037                                                                                '
 '4500000038                                                                                '
 '4500000039                                                                                '
 '4500000040                                                                                '
 '4500000041                                                                                '
 '4500000042                                                                                '
 '4500000043                                                                                '
 '4500000044                                                                                '
 '4500000045                                                                                '
 '4500000046                                                                                '
 '4500000047                                                                                '
 '4500000048                                                                                '
 '4500000049                                                                                '
 '4500000050                                                                                '
 '4500000051                                                                                '
 '4500000052                                                                                '
 '4500000053                                                                                '
 '4500000054                                                                                '
 '4500000055                                                                                '
 '4500000056                                                                                '
 '4500000057                                                                                '
 '4500000058                                                                                '
 '4500000059                                                                                '
 '4500000060                                                                                '
 '4500000061                                                                                '
 '4500000062                                                                                '
 '4500000063                                                                                '
 '4500000064                                                                                '
 '4500000065                                                                                '
 '4500000066                                                                                '
 '4500000067                                                                                '
 '4500000068                                                                                '
 '4500000069                                                                                '
 '4500000070                                                                                '
 '4500000071                                                                                '
 '4500000072                                                                                '
 '4500000073                                                                                '
 'ORWA1989                                                                                  '
 '0010000033                                                                                '
 '0010000034                                                                                '
 '5300000041                                                                                '
 '0010000035                                                                                '
 '4500000113                                                                                '
 '4500000114                                                                                '
 '4500000074                                                                                '
 '4500000075                                                                                '
 '4500000076                                                                                '
 '4500000077                                                                                '
 '4500000078                                                                                '
 '4500000079                                                                                '
 '4500000080                                                                                '
 '4500000081                                                                                '
 '4500000082                                                                                '
 '4500000083                                                                                '
 '4500000084                                                                                '
 '4500000085                                                                                '
 'LAB_SS22_1                                                                                '
 'BC0100001476620000022870                                                                  '
 'LAB_SS22_2                                                                                '
 'BC0100001476640000022870                                                                  '
 'LAB_SS22_3                                                                                '
 'BC0100001476660000022870                                                                  '
 'LAB_SS22_4                                                                                '
 'BC0100001476680000022870                                                                  '
 '5300000027                                                                                '
 '5300000028                                                                                '
 '4500000086                                                                                '
 'LAB_SS22_5                                                                                '
 'BC0100001476700000022870                                                                  '
 'BRKT1000                                                                                  '
 '4500000087                                                                                '
 '4500000088                                                                                '
 '5300000029                                                                                '
 '4500000089                                                                                '
 '5300000030                                                                                '
 '4500000090                                                                                '
 '5300000031                                                                                '
 '4500000091                                                                                '
 '4500000092                                                                                '
 '5300000032                                                                                '
 '4500000093                                                                                '
 '5300000033                                                                                '
 '4500000094                                                                                '
 '4500000095                                                                                '
 '5300000034                                                                                '
 '4500000096                                                                                '
 '5300000035                                                                                '
 '4500000097                                                                                '
 '4500000098                                                                                '
 '4500000099                                                                                '
 '4500000100                                                                                '
 '5300000036                                                                                '
 '4500000101                                                                                '
 '0000048001                                                                                '
 '000000000000000001                                                                        '
 '5300000037                                                                                '
 '4500000102                                                                                '
 '5300000038                                                                                '
 '4500000103                                                                                '
 '5300000039                                                                                '
 '4500000104                                                                                '
 '4500000105                                                                                '
 'SO_OBJ_ALI                                                                                '
 'PYTHON_USER                                                                               '
 'BC0100001476750000022870                                                                  '
 '4500000106                                                                                '
 'ORWN1041                                                                                  '
 '323N50020063                                                                              '
 'ORWN1989                                                                                  '
 'ACT-DCD-11                                                                                '
 '4500000107                                                                                '
 '5300000040                                                                                '
 '4500000108                                                                                '
 '4500000109                                                                                '
 '4500000110                                                                                '
 '4500000111                                                                                '
 '4500000112                                                                                '
 'AHMED                                                                                     '
 'BC0100001476770000022870                                                                  '
 'KONRAD                                                                                    '
 'BC0100001476790000022870                                                                  '
 'MALTE                                                                                     '
 'BC0100001476810000022870                                                                  '
 'MOHAMED                                                                                   '
 'BC0100001476830000022870                                                                  '
 'JEAN                                                                                      '
 'BC0100001476850000022870                                                                  '
 'KACPER                                                                                    '
 'BC0100001476870000022870                                                                  '
 'MARCO                                                                                     '
 'BC0100001476890000022870                                                                  '
 'PEDRO                                                                                     '
 'BC0100001476910000022870                                                                  '
 'BIANKA                                                                                    '
 'BC0100001476930000022870                                                                  '
 '0000125005                                                                                '
 '0000048002                                                                                '
 'BP  0000147695                                                                            '
 'BP  0000147696                                                                            '
 'CHLK1113                                                                                  '
 '0000099108                                                                                '
 '0000099109                                                                                '
 '0000125006                                                                                '
 '0000048003                                                                                '
 'BP  0000147697                                                                            '
 'BP  0000147698                                                                            '
 'CHLK1123                                                                                  '

In [ ]:
from pm4pymdl.algo.mvp.utils import exploded_mdl_to_succint_mdl
def apply(con, keep_first=True, min_extr_date="2020-01-01 00:00:00", gjahr="2020", enable_changes=True,
          enable_payments=True, allowed_act_doc_types=None, allowed_act_changes=None, mandt="800"):
    
    ## 02c_common.py
    try:
        vbfa = con.prepare_and_execute_query("VBFA", ["ERDAT", "ERZET", "VBELN", "VBELV", "VBTYP_N", "VBTYP_V", "RFMNG",
                                                      "MEINS", "RFWRT", "WAERS", "MATNR", "BWART", "VRKME", "FKTYP", "POSNN", "POSNV"], additional_query_part=" WHERE MANDT = '"+mandt+"'")
    except:
        vbfa = con.prepare_and_execute_query("VBFA", ["ERDAT", "ERZET", "VBELN", "VBELV", "VBTYP_N", "VBTYP_V"], additional_query_part=" WHERE MANDT = '"+mandt+"'")
    timestamp_column_from_dt_tm.apply(vbfa, "ERDAT", "ERZET", "event_timestamp")
    doc_types = set(vbfa["VBTYP_N"].unique()).union(set(vbfa["VBTYP_V"].unique()))
    
    
    #vbtyp = extract_vbtyp.apply_static(con, doc_types=doc_types)
    class Shared:
        vbtyp_dictio = {}
    if not Shared.vbtyp_dictio:
        Shared.vbtyp_dictio = apply(con)
    ret = Shared.vbtyp_dictio
    if doc_types is not None:
        diff = set(doc_types).difference(set(Shared.vbtyp_dictio.keys()))
        for d in diff:
            ret[d] = str(d)
    vbtyp = ret
    
    
    vbfa["VBTYP_N"] = vbfa["VBTYP_N"].map(vbtyp)
    vbfa["VBTYP_V"] = vbfa["VBTYP_V"].map(vbtyp)
    vbfa.to_csv("prova.csv", index=False)
    print("DONEEEEEE")
    min_extr_date = parser.parse(min_extr_date)
    vbfa = vbfa[vbfa["event_timestamp"] > min_extr_date]
    
    #vbfa = vbfa_closure(con, vbfa, min_extr_date, mandt=mandt)
    #vbak = extract_vbak(con, min_extr_date=min_extr_date, mandt=mandt)
    vbak = {}
    try:
        vbak = con.prepare_and_execute_query("VBAK", ["VBELN", "ERDAT", "ERZET"], additional_query_part=" WHERE MANDT = '"+mandt+"'")
        timestamp_column_from_dt_tm.apply(vbak, "ERDAT", "ERZET", "event_timestamp")
        vbak = vbak[vbak["event_timestamp"] > min_extr_date]
        vbak = vbak[["VBELN", "event_timestamp"]].to_dict("r")
        vbak = {x["VBELN"]: x["event_timestamp"] for x in vbak}
    except:
        pass
    vbak = vbak
    
    
    vbeln_unique = set(vbfa["VBELN"].unique())
    vbfa_vbelv_types = list(
        (x["VBELV"], x["VBTYP_V"]) 
        for x in vbfa[["VBELV", "VBTYP_V"]].to_dict("records") 
        if x["VBELV"] not in vbeln_unique)
    # default the timestamp
    closure_events = {
        "VBELN": [x[0] for x in vbfa_vbelv_types], 
        "VBTYP_N": [x[1] for x in vbfa_vbelv_types],
        "event_timestamp": [vbak[x[0]] if x[0] in vbak else datetime.fromtimestamp(10000000) for x in vbfa_vbelv_types]}
    closure_df = pd.DataFrame(closure_events)
    vbfa = pd.concat([vbfa, closure_df]).sort_values("event_timestamp")
    
    
    vbfa = vbfa[vbfa["event_timestamp"] >= min_extr_date]
    vbfa = vbfa.reset_index()
    vbfa["event_id"] = vbfa.index.astype(str)
    cols = {}
    for x in vbfa.columns:
        if x.startswith("event_"):
            cols[x] = x
        else:
            cols[x] = "event_" + x
    vbfa = vbfa.rename(columns=cols)
    vbfa["event_activity"] = "Create " + vbfa["event_VBTYP_N"]
    if not keep_first:
        vbfa["event_activity"] = vbfa["event_activity"] + " Item"

    vbfa["event_id"] = vbfa["event_id"].astype(int)
    vbfa = vbfa.sort_values("event_id")

    #vbfa["INVOLVED_DOCUMENTS"] = vbfa["event_VBELV"].astype(str) + constants.DOC_SEP + vbfa["event_VBELN"].astype(str)
    #vbfa["INVOLVED_DOCUMENTS"] = vbfa["INVOLVED_DOCUMENTS"].apply(constants.set_documents)
    #vbfa.to_csv("prova1.csv", index=False)
    #del vbfa["INVOLVED_DOCUMENTS"]

    doctypes_n = vbfa["event_VBTYP_N"].unique()
    doctypes_v = vbfa["event_VBTYP_V"].unique()
    list_dfs = []
    for value in doctypes_n:
        df = vbfa[vbfa["event_VBTYP_N"] == value]
        df["DOCTYPE_"+str(value)] = df["event_VBELN"]
        list_dfs.append(df)
    for value in doctypes_v:
        df = vbfa[vbfa["event_VBTYP_V"] == value]
        df["DOCTYPE_"+str(value)] = df["event_VBELV"]
        list_dfs.append(df)
    if list_dfs:
        vbfa = pd.concat(list_dfs)
        vbfa = exploded_mdl_to_succint_mdl.apply(vbfa)
        vbfa = vbfa.reset_index()
        vbfa = vbfa.sort_values("event_id")
        vbfa["event_id"] = vbfa["event_id"].astype(str)
    else:
        vbfa = pd.DataFrame({"case:concept:name": [], "VBELN": []})

    #vbfa.to_csv("prova2.csv", index=False)
    dataframe =  vbfa
    
    ## obj_centr_log.py
    if keep_first and len(dataframe) > 0:
        dataframe = dataframe.groupby("event_VBELN").first().reset_index()
    if allowed_act_doc_types is not None:
        allowed_act_doc_types = set(allowed_act_doc_types)
        dataframe = dataframe[dataframe["event_activity"].isin(allowed_act_doc_types)]
    if len(dataframe) > 0:
        dataframe = dataframe.sort_values("event_timestamp")
    if enable_changes:
        #changes = get_changes(con, dataframe, mandt=mandt)
        if len(dataframe) > 0:
            vbeln_values = dataframe[["event_VBELN", "event_VBTYP_N"]].to_dict("r")
        else:
            vbeln_values = []
        vbeln_values = {x["event_VBELN"]: x["event_VBTYP_N"] for x in vbeln_values}
        ret = []
        for tup in [("VERKBELEG", "VBAK"), ("VERKBELEG", "VBAP"), ("VERKBELEG", "VBUK"), ("LIEFERUNG", "LIKP"),
                    ("LIEFERUNG", "LIPS"), ("LIEFERUNG", "VBUK")]:
            changes = extract_change.apply(con, objectclas=tup[0], tabname=tup[1], mandt=mandt)
            changes = {x: y for x, y in changes.items() if x in vbeln_values}
            for x, y in changes.items():
                awkey = list(y["event_AWKEY"])[0]
                if awkey in vbeln_values:
                    y["event_VBELN"] = y["event_AWKEY"]
                    y["event_activity"] = y["event_CHANGEDESC"]
                    k = "DOCTYPE_" + vbeln_values[awkey]
                    y[k] = y["event_AWKEY"]
                    y[k] = y[k].apply(constants.set_documents)

                    #y["INVOLVED_DOCUMENTS"] = y["event_AWKEY"]
                    #y["INVOLVED_DOCUMENTS"] = y["INVOLVED_DOCUMENTS"].apply(constants.set_documents)
                    ret.append(y)
        if ret:
            ret = pd.concat(ret)
        else:
            ret = pd.DataFrame()

        changes =  ret
        
    else:
        changes = pd.DataFrame()
    if len(changes) > 0:
        changes = changes.sort_values("event_timestamp")
    if allowed_act_changes is not None:
        allowed_act_changes = set(allowed_act_changes)
        changes = changes[changes["event_activity"].isin(allowed_act_changes)]
    dataframe = pd.concat([dataframe, changes])
    dataframe["event_id"] = dataframe.index.astype(str)
    if len(dataframe) > 0:
        dataframe = dataframe.sort_values("event_timestamp")
    dataframe.type = "succint"
    return dataframe

In [ ]:
# (event_id, event_activity, event_timestamp, [involved_docs for doctype])

In [38]:
vbfa = copy(dfs["VBFA"])
vbfa = vbfa[['ERDAT', 'ERZET', 'VBELN', 'VBELV', 'VBTYP_N', 'VBTYP_V']]
vbfa["event_timestamp"] = vbfa["ERDAT"].astype(str) + vbfa["ERZET"].astype(str)
vbfa.drop(["ERDAT", "ERZET"], axis=1, inplace=True)
vbfa.head(3)

        VBELN       VBELV VBTYP_N VBTYP_V event_timestamp
0  0080000000  0000000001    J       C     20160527134823
1  0080000001  0000000002    J       C     20160527134805
2  0080000002  0000000003    J       C     20160527134921

In [13]:
#obj_types = set(vbfa["VBTYP_N"].unique()).union(set(vbfa["VBTYP_V"].unique()))
#vbeln_unique = set(vbfa["VBELN"].unique())
#obj_types, vbeln_unique

In [39]:


VBAK = copy(dfs["VBAK"])
VBAK["event_timestamp"] = VBAK["ERDAT"].astype(str) + VBAK["ERZET"].astype(str)
VBAK.drop(["ERDAT", "ERZET"], axis=1, inplace=True)
vbak = VBAK
VBFA = copy(vbfa)
VBAK.join(VBFA.set_index("VBELN"), on="VBELN", how="left", lsuffix="_VBAK", rsuffix="_VBFA")

,event_timestamp_VBAK,VBELV,VBTYP_N,VBTYP_V,event_timestamp_VBFA
VBELN,,,,,
0000000001,20160527134542,NaN,NaN,NaN,NaN
0000000002,20160527134538,NaN,NaN,NaN,NaN
0000000003,20160527134732,NaN,NaN,NaN,NaN
0000000005,20211201110040,NaN,NaN,NaN,NaN
0010000000,20221120131825,NaN,NaN,NaN,NaN
0020000000,20221121234929,0010000000,B,A,20221121234929
0020000000,20221121234929,0010000000,B,A,20221121234929
0020000000,20221121234929,0010000000,B,A,20221121234929

In [40]:
vbeln_unique = set(vbfa["VBELN"].unique())
vbfa_vbelv_types = list(
    (x["VBELV"], x["VBTYP_V"]) 
    for x in vbfa[["VBELV", "VBTYP_V"]].to_dict("records") 
    if x["VBELV"] not in vbeln_unique)
# default the timestamp
vbfa_vbelv_types

[('0000000001', 'C   '),
 ('0000000002', 'C   '),
 ('0000000003', 'C   '),
 ('0010000000', 'A   '),
 ('0010000000', 'A   '),
 ('0010000000', 'A   ')]

In [42]:

#vbak.set_index("VBELN", inplace=True)
closure_events = {
    "VBELN": [x[0] for x in vbfa_vbelv_types], 
    "VBTYP_N": [x[1] for x in vbfa_vbelv_types],
    "event_timestamp": [
        vbak.loc[x[0]]["event_timestamp"] if x[0] in vbak.index else "00000000000000"
        for x in vbfa_vbelv_types]}
closure_df = pd.DataFrame(closure_events)
closure_df

        VBELN VBTYP_N event_timestamp
0  0000000001    C     20160527134542
1  0000000002    C     20160527134538
2  0000000003    C     20160527134732
3  0010000000    A     20221120131825
4  0010000000    A     20221120131825
5  0010000000    A     20221120131825

In [ ]:
cols = {}
for x in log.columns:
    if x.startswith("event_"):
        cols[x] = x
    else:
        cols[x] = "event_" + x
log = log.rename(columns=cols)
log["event_activity"] = "Create " + log["event_VBTYP_N"]
log

In [ ]:
log = pd.concat([vbfa, closure_events])

In [ ]:

log = pd.concat([vbfa, closure_events])

log = pd.concat([log, changes])

log = log.sort_values("event_timestamp")
log["event_id"] = log.index.astype(str)

In [ ]:


from pm4pymdl.algo.mvp.utils import exploded_mdl_to_succint_mdl


def apply(con, keep_first=True, min_extr_date="2020-01-01 00:00:00", gjahr="2020", enable_changes=True,
          enable_payments=True, allowed_act_doc_types=None, allowed_act_changes=None, mandt="800"):
    
    ## 02c_common.py
    try:
        vbfa = con.prepare_and_execute_query("VBFA", ["ERDAT", "ERZET", "VBELN", "VBELV", "VBTYP_N", "VBTYP_V", "RFMNG",
                                                      "MEINS", "RFWRT", "WAERS", "MATNR", "BWART", "VRKME", "FKTYP", "POSNN", "POSNV"], additional_query_part=" WHERE MANDT = '"+mandt+"'")
    except:
        vbfa = con.prepare_and_execute_query("VBFA", ["ERDAT", "ERZET", "VBELN", "VBELV", "VBTYP_N", "VBTYP_V"], additional_query_part=" WHERE MANDT = '"+mandt+"'")
    timestamp_column_from_dt_tm.apply(vbfa, "ERDAT", "ERZET", "event_timestamp")
    doc_types = set(vbfa["VBTYP_N"].unique()).union(set(vbfa["VBTYP_V"].unique()))
    
    
    #vbtyp = extract_vbtyp.apply_static(con, doc_types=doc_types)
    class Shared:
        vbtyp_dictio = {}
    if not Shared.vbtyp_dictio:
        Shared.vbtyp_dictio = apply(con)
    ret = Shared.vbtyp_dictio
    if doc_types is not None:
        diff = set(doc_types).difference(set(Shared.vbtyp_dictio.keys()))
        for d in diff:
            ret[d] = str(d)
    vbtyp = ret
    
    
    vbfa["VBTYP_N"] = vbfa["VBTYP_N"].map(vbtyp)
    vbfa["VBTYP_V"] = vbfa["VBTYP_V"].map(vbtyp)
    vbfa.to_csv("prova.csv", index=False)
    print("DONEEEEEE")
    min_extr_date = parser.parse(min_extr_date)
    vbfa = vbfa[vbfa["event_timestamp"] > min_extr_date]
    
    #vbfa = vbfa_closure(con, vbfa, min_extr_date, mandt=mandt)
    #vbak = extract_vbak(con, min_extr_date=min_extr_date, mandt=mandt)
    vbak = {}
    try:
        vbak = con.prepare_and_execute_query("VBAK", ["VBELN", "ERDAT", "ERZET"], additional_query_part=" WHERE MANDT = '"+mandt+"'")
        timestamp_column_from_dt_tm.apply(vbak, "ERDAT", "ERZET", "event_timestamp")
        vbak = vbak[vbak["event_timestamp"] > min_extr_date]
        vbak = vbak[["VBELN", "event_timestamp"]].to_dict("r")
        vbak = {x["VBELN"]: x["event_timestamp"] for x in vbak}
    except:
        pass
    vbak = vbak
    
    
    vbeln_unique = set(vbfa["VBELN"].unique())
    vbfa_vbelv_types = list(
        (x["VBELV"], x["VBTYP_V"]) 
        for x in vbfa[["VBELV", "VBTYP_V"]].to_dict("records") 
        if x["VBELV"] not in vbeln_unique)
    
    #####################################################################################################
    
    # default the timestamp
    closure_events = {"VBELN": [x[0] for x in vbfa_vbelv_types], "VBTYP_N": [x[1] for x in vbfa_vbelv_types],
                      "event_timestamp": [vbak[x[0]] if x[0] in vbak else datetime.fromtimestamp(10000000) for x in vbfa_vbelv_types]}
    closure_df = pd.DataFrame(closure_events)
    vbfa = pd.concat([vbfa, closure_df]).sort_values("event_timestamp")
    
    ##############################################################
    
    
    vbfa = vbfa[vbfa["event_timestamp"] >= min_extr_date]
    vbfa = vbfa.reset_index()
    vbfa["event_id"] = vbfa.index.astype(str)
    cols = {}
    for x in vbfa.columns:
        if x.startswith("event_"):
            cols[x] = x
        else:
            cols[x] = "event_" + x
    vbfa = vbfa.rename(columns=cols)
    vbfa["event_activity"] = "Create " + vbfa["event_VBTYP_N"]
    if not keep_first:
        vbfa["event_activity"] = vbfa["event_activity"] + " Item"

    vbfa["event_id"] = vbfa["event_id"].astype(int)
    vbfa = vbfa.sort_values("event_id")

    #vbfa["INVOLVED_DOCUMENTS"] = vbfa["event_VBELV"].astype(str) + constants.DOC_SEP + vbfa["event_VBELN"].astype(str)
    #vbfa["INVOLVED_DOCUMENTS"] = vbfa["INVOLVED_DOCUMENTS"].apply(constants.set_documents)
    #vbfa.to_csv("prova1.csv", index=False)
    #del vbfa["INVOLVED_DOCUMENTS"]

    doctypes_n = vbfa["event_VBTYP_N"].unique()
    doctypes_v = vbfa["event_VBTYP_V"].unique()
    list_dfs = []
    for value in doctypes_n:
        df = vbfa[vbfa["event_VBTYP_N"] == value]
        df["DOCTYPE_"+str(value)] = df["event_VBELN"]
        list_dfs.append(df)
    for value in doctypes_v:
        df = vbfa[vbfa["event_VBTYP_V"] == value]
        df["DOCTYPE_"+str(value)] = df["event_VBELV"]
        list_dfs.append(df)
    if list_dfs:
        vbfa = pd.concat(list_dfs)
        vbfa = exploded_mdl_to_succint_mdl.apply(vbfa)
        vbfa = vbfa.reset_index()
        vbfa = vbfa.sort_values("event_id")
        vbfa["event_id"] = vbfa["event_id"].astype(str)
    else:
        vbfa = pd.DataFrame({"case:concept:name": [], "VBELN": []})

    #vbfa.to_csv("prova2.csv", index=False)
    dataframe =  vbfa
    
    ## obj_centr_log.py
    if keep_first and len(dataframe) > 0:
        dataframe = dataframe.groupby("event_VBELN").first().reset_index()
    if allowed_act_doc_types is not None:
        allowed_act_doc_types = set(allowed_act_doc_types)
        dataframe = dataframe[dataframe["event_activity"].isin(allowed_act_doc_types)]
    if len(dataframe) > 0:
        dataframe = dataframe.sort_values("event_timestamp")
    if enable_changes:
        #changes = get_changes(con, dataframe, mandt=mandt)
        if len(dataframe) > 0:
            vbeln_values = dataframe[["event_VBELN", "event_VBTYP_N"]].to_dict("r")
        else:
            vbeln_values = []
        vbeln_values = {x["event_VBELN"]: x["event_VBTYP_N"] for x in vbeln_values}
        ret = []
        for tup in [("VERKBELEG", "VBAK"), ("VERKBELEG", "VBAP"), ("VERKBELEG", "VBUK"), ("LIEFERUNG", "LIKP"),
                    ("LIEFERUNG", "LIPS"), ("LIEFERUNG", "VBUK")]:
            changes = extract_change.apply(con, objectclas=tup[0], tabname=tup[1], mandt=mandt)
            changes = {x: y for x, y in changes.items() if x in vbeln_values}
            for x, y in changes.items():
                awkey = list(y["event_AWKEY"])[0]
                if awkey in vbeln_values:
                    y["event_VBELN"] = y["event_AWKEY"]
                    y["event_activity"] = y["event_CHANGEDESC"]
                    k = "DOCTYPE_" + vbeln_values[awkey]
                    y[k] = y["event_AWKEY"]
                    y[k] = y[k].apply(constants.set_documents)

                    #y["INVOLVED_DOCUMENTS"] = y["event_AWKEY"]
                    #y["INVOLVED_DOCUMENTS"] = y["INVOLVED_DOCUMENTS"].apply(constants.set_documents)
                    ret.append(y)
        if ret:
            ret = pd.concat(ret)
        else:
            ret = pd.DataFrame()

        changes =  ret
        
    else:
        changes = pd.DataFrame()
    if len(changes) > 0:
        changes = changes.sort_values("event_timestamp")
    if allowed_act_changes is not None:
        allowed_act_changes = set(allowed_act_changes)
        changes = changes[changes["event_activity"].isin(allowed_act_changes)]
    dataframe = pd.concat([dataframe, changes])
    dataframe["event_id"] = dataframe.index.astype(str)
    if len(dataframe) > 0:
        dataframe = dataframe.sort_values("event_timestamp")
    dataframe.type = "succint"
    return dataframe